body {
  color: DarkGoldenRod;
  background-color: AntiqueWhite;
}
.container {
  margin: 35px auto;
  padding: 35px 35px 35px 35px;
  width: 50%;
  background-color: white;
  text-align: center;
}

#quote-box {
}

#socialShare {
}
.socialIcon {
  margin-left: 7px;
  margin-right: 7px;
}
  
#tweet-quote {
  color: DarkGoldenRod;
}

.tw:hover {
  color: BurlyWood;
}

#new-quote {
  background-color: DarkGoldenRod;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

#new-quote:hover {
  background-color: BurlyWood;
}